# except compiled file
asm/*.out
asm/*.exe
asm/obj

cpp/*.out
cpp/*.exe

# except unsolved code file
#*.c
#*.cpp
#*.s
#*.exe
#*.out

# except vscode configuration file
.vscode/*
/.idea/.gitignore
/.idea/acmicpc.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
